<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deyan.news.funkynews" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.deyan.news.funkynews.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.deyan.news.funkynews.FeedItemsActivity"
            android:label="@string/title_activity_feed_items"
            android:parentActivityName="com.deyan.news.funkynews.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deyan.news.funkynews.MainActivity" />
        </activity>
        <activity
            android:name="com.deyan.news.funkynews.DetailFeedItemActivity"
            android:label="@string/title_activity_detail_feed_item"
            android:parentActivityName="com.deyan.news.funkynews.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deyan.news.funkynews.MainActivity" />
        </activity>

        <receiver
            android:name="com.deyan.news.funkynews.broadcastReceivers.AlarmReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <service
            android:name="com.deyan.news.funkynews.services.ClearFeedItemsService"
            android:exported="false" >
        </service>
    </application>

</manifest>
